/*
content.css
*/
body {
	font-family: Arial, Sans-Serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}

#title { height: 20px; }

#upss {
	font-family: helvetica, arial, sans-serif;
	font-size: 80%;
	height: 200px;
	overflow: hidden;
	padding: 2px;
	position: relative;
	width: 100%;
}

#upss #hint {
	bottom: 0;
	left: 0;
	padding: 2px;
	position: absolute;
	z-index: 5;
}

#left {
	height: 200px;
	left: 0;
	position: absolute;
	top: 0;
	width: 150px;
	z-index: 3;
}

#right {
	background-image: url('../images/android_done_50.png');
	background-position: -21px -10px;
	background-repeat: no-repeat;
	height: 200px;
	position: absolute;
	right: 0;
	top: 0;
	width: 194px;
	z-index: 4;
}


.section-header {
	background: #ebeff9;
	font-weight: bold;
	min-height: 1em;
	padding: 3px 0 2px 5px;
}

.section-header.first { margin-top: 0; }

#hint { color: #aaa; font-style: italic; }

#qrcode_url, #qrcode { border: 0; }
